* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.main-content {
  font-family: var(--font-family);
  width: 600px;
  margin: auto;
  max-width: 95%;
}

.main-content h1 {
  font-weight: 800;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

.validate-btn {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.validate-btn:hover {
  transform: scale(1.1) translateY(-2px);
}
.validate-btn:disabled {
  cursor: not-allowed;
}

.results {
  display: flex;
  width: 1000px;
  max-width: 95%;
  color: white;
  margin: auto;
  font-family: var(--font-family);
  border-radius: 8px;
  border: 1px solid #fff;
  margin-top: 40px;
  overflow: hidden;
  margin-bottom: 30px;
}
.valid,
.invalid {
  width: 50%;
  border-left: 1px solid #fff;
}

.valid h3 {
  background-color: green;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-family: var(--font-family);
}

.invalid h3 {
  background-color: red;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-family: var(--font-family);
}

ul {
  list-style-position: inside;
}

.item {
  padding: 10px;
  line-break: anywhere;
  animation: fadeIn 0.3s ease-in-out;
}

.progress {
  width: 1000px;
  max-width: 95%;
  color: white;
  margin: 40px auto;
  font-family: var(--font-family);
}

.progress-info {
  width: 1000px;
  max-width: 95%;
  color: white;
  font-family: var(--font-family);
  margin-top: 20px;
}

@media screen and (max-width: 750px) {
  .results {
    flex-direction: column;
  }
  .invalid,
  .valid {
    min-height: 100px;
    width: 100%;
  }
  .invalid {
    margin-top: 30px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
