@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-white: #fff;
  --color-bg: #181004;
  --color-thumb: #d68812;
  --color-track: #81afdd;
  --color-subtext: #ff8a71;
  --color-highlight: #ff4820;
  --color-valid: green;
  --color-invalid: red;

  --progress-bar-duration: 100ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(ellipse at top left, var(--color-bg), #7a7fba);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-y: auto;
}

/* width */
body::-webkit-scrollbar {
  width: 10px;
}

.MuiInputBase-input::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track,
.MuiInputBase-input::-webkit-scrollbar-track {
  background: var(--color-track);
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-thumb);
}

.MuiInputBase-input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--color-thumb);
}

@media screen and (max-width: 400px) {
  body::-webkit-scrollbar {
    width: 0;
  }

  .MuiInputBase-input::-webkit-scrollbar {
    width: 0;
  }
}
